@using CoursesSystem.Web.Models.CoursesViewModels;
@model CoursesViewModel;

<div class="container">
    <div class="row">
        <div class="panel panel-primary filterable" style="margin-top: 4em;">
            <div class="panel-heading" style="background-color: #1da1f2;border-color: #1da1f2;">
                <h3 class="panel-title">Available Courses</h3>
            </div>
            @{
                string messageId = string.Empty;
            }
            <table class="table">
                <thead>
                    <tr class="filters">
                        <th><h5>Course Id:</h5></th>
                        <th><h5>Course Name:</h5></th>
                        <th><h5>Course Credits:</h5></th>
                        <th><h5>Course Lecturer:</h5></th>
                        <th><h5>Course Registration:</h5></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var course in Model.Courses)
                    {
                        var registerBtn = $"regBtn-{course.Id}";
                        var unregisterBtn = $"unregBtn-{course.Id}";
                        var confirmBtn = $"confirmBtn-{course.Id}";
                        var confirmDelete = $"confirmDelete-{course.Id}";

                        var visibilityReg = "hidden";
                        var visibilityUnreg = "hidden";

                        if (!course.IsRegistered)
                        {
                            visibilityReg = "visible";
                        }
                        else
                        {
                            visibilityUnreg = "visible";

                        }

                        <tr>
                            <td>@course.Id</td>
                            <td>@course.Name</td>
                            <td>@course.Credits</td>
                            <td>@course.LecturerName</td>
                            <td>
                                <div class="modal fade" id="@confirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">Confirm</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>You are about to unregister for @course.Name course.</p>
                                                <p>Are you sure you want to proceed?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button id="@confirmBtn" type="button" class="btn btn-danger btn-trigger" data-dismiss="modal"
                                                        parameter1="@course.Id"
                                                        parameter2="@course.Name">
                                                    Yes
                                                </button>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <button id="@unregisterBtn" class="btn btn-danger btn-lg btn-block btn-sm btn-setmargin" type="button" data-toggle="modal" data-target="#@confirmDelete" style="visibility: @visibilityUnreg;">Unregister</button>

                                <button id="@registerBtn" class="btn btn-success btn-lg btn-block btn-sm btn-setmargin btn-trigger" type="button" style="visibility: @visibilityReg;"
                                        parameter1="@course.Id"
                                        parameter2="@course.Name">
                                    Register
                                </button>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <p class="message" data-message id="confirm-message"></p>
    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial");
    <script src="~/js/reg-unreg.js"></script>
}